header{
    background-color: #222831;
}
.svgTamanyo{
    height: 30px;
}
.logotipo{
    width: 150px;
    height: 70px;
}
.logoTipoMovil{
    width: 200px;
    height: 90px;
    margin-top: 7%;
    margin-bottom: 5%;
}
.iconosMovil{
    margin-top: 20%;
}
.redesSociales{
    width: 40px;
    height: 40px;
    margin-left: 2%;
}
.footer{
    background-color: #29a19c;
}
.colorLetra{
    color: #29a19c;
}
.fondoCopyEnlaces{
    background-color: #222831;
}
<<<<<<< HEAD

tr td img{
    width: 25px;
    height: 25px;
}
.form-group{
    margin: 5%;
}
.imagenCarrusel{
    height: 350px;
}
.imgaenesProductos{
    width: 300px;
    height: 300px;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> master
=======
}
.imagenVistaProducto{
    width: 50px;
    height: 400px;
    border: 2px solid black;
}
.carousel, .carousel-inner > .item {
    width: 571.9px;
    height: 571.9px;
    border: 2px solid black;
>>>>>>> pau
=======
>>>>>>> pau
}